<mat-grid-list cols="3">
  <mat-grid-tile>
    <button mat-fab extended>
      <mat-icon>add</mat-icon>
      Add
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-fab extended>
      <mat-icon>edit</mat-icon>
      Edit
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-fab extended>
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </mat-grid-tile>
</mat-grid-list>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" />
</mat-form-field>
<table mat-table [dataSource]="dataSource">
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let hero; columns: columnsToDisplay"></tr>

  <mat-text-column name="id"></mat-text-column>
  <mat-text-column name="name"></mat-text-column>
</table>

<mat-paginator [pageSizeOptions]="[3, 5, 10]"></mat-paginator>
